body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 0px;
    border-bottom: 3px solid #0056b3;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.dept-group {
    margin-bottom: 30px;
}

h2 {
    color: #0056b3;
    border-bottom: 1px solid #ccc;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #777;
}